# run npx auth secret Or visit https://authjs.dev/getting-started/installation?framework=next.js 
AUTH_SECRET=secret

# Generate from github developer settings (https://github.com/settings/developers)
AUTH_GITHUB_ID={CLIENT_ID}
AUTH_GITHUB_SECRET={CLIENT_SECRET}

# Generate from google cloud credentials (https://console.cloud.google.com/apis/credentials)
AUTH_GOOGLE_ID={CLIENT_ID}
AUTH_GOOGLE_SECRET={CLIENT_SECRET}


REDIRECT_URL_SIGN='/'
REDIRECT_URL_LOGOUT='/auth/sign-in'
